* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --dark-red: hsl(0, 93%, 68%);
  --light-red: hsl(0, 36%, 70%);
  --light-pink: hsl(0, 80%, 86%);
  --dark-pink: hsl(0, 74%, 74%);
  --pink-white: hsl(0, 100%, 98%);
  --gray-red: hsl(0, 6%, 24%);
}

body {
  background-color: var(--pink-white);
  font-size: 16px;
}

nav {
  width: 100vw;
  padding: 20px;
}

nav img {
  width: 100px;
  height: 20px;
}

.hero-desktop {
  display: none;
}

section {
  text-align: center;
  display: grid;
}

section nav {
  display: none;
}

section .content {
  padding: 45px 20px 0px;
  max-width: 500px;
  margin: 0px auto;
}

section .content h2 {
  font-size: 35px;
  color: var(--gray-red);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
  margin: 0px 0px 10px;
}

section .content h2 span {
  font-weight: 300;
  color: var(--light-red);
}

section .content p {
  margin: 15px 0px;
  color: var(--light-red);
  line-height: 25px;
}

section .content .news-letter {
  width: 340px;
  height: 45px;
  margin: 20px auto;
  border: 2px solid var(--light-pink);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

section .content .news-letter input {
  width: 73%;
  height: 100%;
  margin-left: 23px;
  outline: none;
  border: none;
  /* background-image: url("images/icon-error.svg"); */
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: transparent;
  color: var(--gray-red);
}

section .content .news-letter input::placeholder {
  color: var(--light-pink);
}

section .content .news-letter span {
  width: 60px;
  padding: 10px 0px;
  border-radius: 50px;
  background: linear-gradient(135deg, var(--light-pink), var(--dark-pink));
  background-position: center;
  background-repeat: no-repeat;
  /* transition: transform 0.2s cubic-bezier(0.47, 0, 0.745, 0.715); */
  box-shadow: 0px 3px 8px 6px hsla(0, 80%, 86%, 0.404);
  cursor: pointer;
  user-select: none;
}

section .content .news-letter span:hover {
  transform: scale(1.1);
}

section .content .news-letter span:active {
  transform: scale(1);
}

section .content .news-letter p {
  position: absolute;
  left: 25px;
  bottom: -53px;
  font-size: 12px;
  color: var(--dark-red);
  font-weight: 600;
  display: none;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  padding: 15px 5px;
  color: var(--gray-red);
}
.attribution a {
  color: var(--dark-pink);
  text-decoration: none;
}

@media (min-width: 1350px) {
  body {
    background-color: white;
    font-size: 18px;
  }

  nav,
  .hero-mobile {
    display: none;
  }
  section nav {
    display: block;
    width: 100%;
  }
  nav img {
    width: 160px;
    height: 35px;
  }
}

@media (min-width: 1350px) {
  section {
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  section .content {
    width: 80%;
    text-align: left;
    max-width: 100%;
    margin: 0px;
  }

  section nav {
    display: block;
    position: fixed;
    top: 0px;
  }

  .hero-desktop {
    display: block;
  }

  .hero-desktop img {
    width: 105%;
    height: 100%;
  }

  section .content h2 {
    font-size: 70px;
  }
  section .content p {
    margin: 25px 0px;
  }

  section .content .news-letter {
    margin: 30px 0px;
    text-align: center;
  }
}
