* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
